.blog-nav {
  background: $secondary;
  height: $spacing * 7;
  &-wrapper {
    height: 100%;
    align-items: center;
  }
}



.blog-item {
    > img {
      width: 50%;
    }
    &-text {
      width: 50%;
    }
    &-btn{
      align-self: flex-end;
      @include respond(pc) {
      display: none;
      }
    }
  @include respond(phone) {
      flex-direction: column;
      >img{
        width: 100%;
      }
      &-text{
        width: 100%;
        &_wrapper{
          >p{
            display: none;
          }
        }
      }
  }    
}

.blog-item:not(:last-child) {
  margin-bottom: 60px;
  @include respond(pc) {
    margin-bottom: 24px;
  }
}
.blog-item:last-child{
  margin-bottom: 124px;
  @include respond(tablet) {
    margin-bottom: 80px;
  }
}
  
.post-wrapper{
  &_article{
    width: 60%;
   
  }
  &_category{
    width: 20%;
    >ul{
      column-gap: $spacing*3;
    }
  }
  @include respond(tablet) {
    &_article{
      width:75%;
    }
    &_category{
      width: 20%;
    }
  }
  @include respond(phone) {
    &_article{
      width:100%;
    }
    &_category{
      display: none;
    }
  }

}

.post-share{
  width: 60%;
  &-media{
    border-bottom: $light-border;
  }
  @include respond(tablet) {
    width: 100%;
  }
  @include respond(phone) {
    display: none;
  }
}

