.location {
  &-select {
    > select {
      width: 300px;
    }
  }
  @include respond(phone) {
    &-select {
      > select {
        width: 200px;
      }
    }
  }
}

.location-info {
  &-item {
    max-width: 32%;
    border: $light-border;

    &_btn {
      width: 100%;
      background: $black;
      border: none;
    }

    @include respond(pc) {
      justify-content: space-between;
      max-width: 48%;
    }
    @include respond(phone) {
      max-width: 100%;
    }
  }
}

.location-info_text {
  &_icon {
    margin-right: $spacing * 2;
  }
}

.location-detail {
  &_info {
    max-width: 38%;
    border: $light-border;
  }
  &_map {
    width: 60%;
  }

  &-card{
    width: 50%;
    @include respond(tablet) {
      width:100%;
      display: flex;
      gap: $spacing*3;
      >img{
        width: 50%;
      }
    }
    @include respond(phone) {
      flex-direction: column;
      gap: 0;
      >img{
        width:100%;
      }
    }
  }

  @include respond(phone) {
    max-width: 100%;
  }

  @include respond(tablet) {
    flex-direction: column;
    &_info {
      display: flex;
    }
  }
  @include respond(phone) {
    &_info {
      flex-direction: column;
      display: flex;
    }
  }
}

.location-detail_card_text{
  border: $light-border;
  >h5{
    border: $light-border;
  }
}
