.nav {
  &-item {
    border: $light-border;
    @include respond(tablet) {
      font-size: $spacing * 3;
      line-height: $line-height-spacing * 12;
      padding: 0;
    }
    @include respond(phone) {
      font-size: $spacing * 2;
      line-height: $line-height-spacing * 8;
      padding: 0;
    }
  }

  &--active {
    position: relative;
    &::before {
      content: "";
      width: 100%;
      position: absolute;
      border-bottom: 5px solid $primary;
      left: 0;
      bottom: 0;
    }
  }
}

.banner {
  > img {
    width: 50%;
  }
}

.product-list-optical {
  justify-content: space-around;
  &-item {
    width: 23%;
  }
  @include respond(pc) {
    justify-content: center;
    &-item {
      width: 45%;
    }
  }
  @include respond(phone) {
    &-item {
      width: 95%;
    }
  }
  margin-bottom: $spacing * 10;
}

.color-block {
  display: flex;
  > div {
    width: $spacing * 3;
    height: $spacing * 3;
    border-radius: 4px;
  }

  &_light {
    background: $brown-light;
  }
  &_dark {
    background: $brown;
  }
}

.product-list-sun {
  justify-content: center;
  &-item {
    width: 30%;
    @include respond(tablet) {
      width: 43%;
    }
    @include respond(phone) {
      width: 95%;
    }
  }
  margin-bottom: $spacing * 10;
}
