<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./assets/style/all.css">
  <title>
    <%- title %>
  </title>
  <script src="https://kit.fontawesome.com/9d802b7972.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="container">
      <img src="./assets/images/logo-white.png" alt="">
      <ul class="nav">
        <li>系列鏡框</li>
        <li>門市據點</li>
        <li>部落格</li>
        <li>常見問題</li>
      </ul>
      <i class="fa-solid fa-bars hamburger"></i>
    </div>
  </header>

  <%- contents %>


    <footer>
      <div class="container">
        <div class="footer-1">
          <div class="line-1">
            <ul>
              <li>首頁</li>
              <li>系列鏡框</li>
              <li>門市據點</li>
              <li>部落格</li>
              <li>常見問題</li>
            </ul>
            <ul>
              <img src="./images/ic-social-fb.png" alt="facebook icon">
              <img src="./images/ic_social_ig.png" alt="facebook icon">
              <img src="./images/ic_social_line.png" alt="facebook icon">
            </ul>
          </div>

          <div class="line-2">
            <ul class="contact">
              <li><i class="fa-solid fa-phone"></i><span>0800-000-000</span></li>
              <li><i class="fa-solid fa-envelope"></i></i>glasses@business.com</li>
            </ul>
          </div>
        </div>
        <div class="line-3">
          <p>Copyright © 2020 Glasses.All rights reserved.</p>
          <p>隱私權政策</p>
          <p>服務條款</p>
        </div>
      </div>
      </div>
    </footer>


    <script src="https://kit.fontawesome.com/9d802b7972.js" crossorigin="anonymous"></script>
</body>

</html>