@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin link-hover {
  transition: all 0.3s;
  &:hover {
    @content;
  }
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-col-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//MEDIA QUERY MANAGER
/*
0-576       PHONE
576-768     tablet 
768-1024     pc
[1024 - 1800 ] our normal style apply
1800px +       BIG desktop
*/

/*
Breakpoint argument choice:

-phone
-tablet
-pc
-big-desktop

*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 650px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint == pc {
    @media (max-width: 1024px) {
      @content;
    }
  }
}

// @mixin respond($breakpoint) {
//   @if $breakpoint == phone {
//     @media (max-width: 576px) {
//       @content;
//     }
//   }
//   @if $breakpoint == tablet {
//     @media (max-width: 768px) {
//       @content;
//     }
//   }
//   @if $breakpoint == pc {
//     @media (max-width: 1024px) {
//       @content;
//     }
//   }
//   @if $breakpoint == big-desktop {
//     @media (max-width: 1800px) {
//       @content;
//     }
//   }
// }
