.page-title {
  padding-left: 16px;
  &::before {
    content: "";
    position: relative;
    border-left: $primary solid $spacing;
    top: 0;
    left: -16px;
    height: 100%;
  }
  margin-top: $spacing*12;
  margin-bottom: $spacing*4;
  @include respond(tablet){
    margin-top: $spacing*10;
    margin-bottom: $spacing*5;
  }
  @include respond(phone){
    margin-top: $spacing*5;
    margin-bottom: $spacing*3;
    font-size: $spacing*3;
    line-height: $line-height-spacing*12;
  }
}
